@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+QLD+Hand:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=Pacifico&family=Press+Start+2P&family=Ruslan+Display&family=Shadows+Into+Light&family=Titan+One&display=swap');

body{
  background-color: rgb(35, 40, 53);
}

/*HOME PAGE*/

#head-section{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(35, 40, 53)), url(images/crypto\ 6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header{
  box-shadow: 1px 10px 20px gray;
}

#header i{
  font-size: 20px;
  font-weight: bold;
}

#hero h1{
  position: relative;
}

#hero #eth-icon{
  position: absolute;
  top: 90px;
  left: 10px;
}

#hero #bit-icon{
  position: absolute;
  top: 100px;
  right: 10px;
}

@keyframes float-up-down {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

#hero #eth-icon,
#hero #bit-icon {
  animation: float-up-down 3s infinite;
}

#hero h1{
  font-family: "Luckiest Guy", cursive;
  text-shadow: 3px 5px 1px rgba(67, 101, 255, 0.336);
}

#line-one{
  border: 2px solid white;
  width: 200px;
  position: absolute;
  top: 108px;
  transform: rotate(90deg);
  left: 190px;
}

#line-two{
  border: 2px solid white;
  width: 200px;
  position: absolute;
  top: 108px;
  transform: rotate(90deg);
  right: 485px;
}

#line-three{
  border: 2px solid white;
  width: 200px;
  position: absolute;
  top: 108px;
  transform: rotate(90deg);
  right: 115px;
}

#wallet{
  background-image: linear-gradient(to right,rgb(35, 40, 53),rgb(35, 40, 53),rgb(35, 40, 53), rgba(255, 255, 255, 0)),linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), url(images/cryp\ 7.png);
  background-position: top 50% right -50%;
  background-repeat: no-repeat;
}

#wallet h1, 
#vault h1, 
#crypto h1, 
.how-it-works h1, 
.download-card h1,
.clients-reviews h1,
.news-articles h1,
.news-letter h1{
  font-family: "Bebas Neue", sans-serif;
}

#wallet .btn-learn{
  border: 1px solid white;
  border-radius: 50px;
}

#wallet .bg-wallet{
  background-image: radial-gradient(circle at bottom right, white,white,rgb(138, 59, 212),rgb(162, 62, 230) 20%,rgb(217, 171, 255),rgb(25, 23, 32), rgb(25, 23, 32), rgb(25, 23, 32), rgb(148, 139, 180));
}

#vault{
  background-image: linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)),linear-gradient(to right, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), url(images/cryp\ 4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#vault #vault-img-1{
  background-color: rgba(84, 25, 139, 0.452);
  backdrop-filter: blur(15px);
  border-right: 2px solid rgb(207, 155, 255);
  border-bottom: 2px solid rgb(207, 155, 255);
  border-radius: 50px;
  padding: 10px;
}

#vault #vault-img-2{
  background-color: rgba(84, 25, 139, 0.452);
  backdrop-filter: blur(8px);
  border-top: 2px solid rgb(207, 155, 255);
  border-left: 2px solid rgb(207, 155, 255);
  border-radius: 50px;
  padding: 10px;
}

#crypto .arrow-icon{
  font-size: 35px;
}

#crypto .trading-coins{
  background-color: rgb(58, 65, 87);
}

.how-it-works{
  background-image: linear-gradient(to right, rgb(35, 40, 53),rgb(35, 40, 53), transparent),linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), url(images/cryp\ 7.png);
  background-position: top 50% right -30%;
  background-repeat: no-repeat;
}

.how-it-works .HIW-img{
  background-color: rgba(108, 85, 156, 0.459);
  backdrop-filter: blur(7px);
  border-radius: 50px;
  border-right: rgb(207, 184, 255) solid 1px;
}

.download-card{
  background-image: url(images/cryp\ 3.png);
  background-position: center;
  background-size: cover;
}

.clients-reviews{
  background-image:linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)),linear-gradient(to right, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), url(images/bg\ 2.jpg);
  background-position: center;
  background-size: 1300px;
  background-repeat: no-repeat;
}

.news-articles .box-3{
  background-image: url(images/crypto\ 8.png);
  background-position: center;
  background-size: cover;
}

.news-articles .box-4{
  background-image: url(images/crypto\ 5.png);
  background-position: top 5% right 50%;
  background-size: 300px;
  background-repeat: no-repeat;
}

.news-letter .bg-color{
  background-image: url(images/cryp\ 4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-letter input{
  background: rgba(255, 162, 255, 0.384);
  backdrop-filter: blur(8px);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.news-letter button{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

/*ABOUT US PAGE*/

#about-head-section #about-head-text h1,
#principles-section h1,
#the-team h1, #faq-section h1{
  font-family: "Bebas Neue", sans-serif;
}

#about-head-section #about-head-text h1{
  text-shadow: 3px 5px 1px rgba(67, 102, 255, 0.466);
}

#about-head-section{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(35, 40, 53)), url(images/cryp\ 5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about-head-section #about-stats{
  background: linear-gradient(to right, rgba(68, 88, 180, 0.671),rgba(35, 54, 138, 0.671), rgba(8, 9, 65, 0.877), rgba(8, 10, 133, 0.877));
}

#principles-section{
  background-image: linear-gradient(to right, rgb(35, 40, 53),rgb(35, 40, 53),rgb(35, 40, 53), rgba(255, 255, 255, 0)),linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), url(images/cryp\ 6.png);
  background-position: top 50% right -70%;
  background-repeat: no-repeat;
}

#the-team{
  background-image: linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), linear-gradient(to left,rgb(35, 40, 53), transparent, transparent 10%), url(images/cryp\ 13.png);
  background-position: top 50% left -150%;
  background-size: 1200px;
  background-repeat: no-repeat;
}

#the-team #teams{
  background-color: rgba(59, 25, 139, 0.452);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 20px;
  border-left: 1px solid rgb(207, 155, 255);
  border-top: 1px solid rgb(207, 155, 255);
}