@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+QLD+Hand:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=Pacifico&family=Press+Start+2P&family=Ruslan+Display&family=Shadows+Into+Light&family=Titan+One&display=swap');

body{
  background-color: rgb(35, 40, 53);
}

#head-section{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(35, 40, 53)), url(images/crypto\ 6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header{
  box-shadow: 1px 10px 20px gray;
}

#header i{
  font-size: 20px;
  font-weight: bold;
}

#hero h1{
  position: relative;
}

#hero #eth-icon{
  position: absolute;
  top: 90px;
  left: 10px;
}

#hero #bit-icon{
  position: absolute;
  top: 100px;
  right: 10px;
}

@keyframes float-up-down {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

#hero #eth-icon,
#hero #bit-icon {
  animation: float-up-down 2s infinite;
}

#hero h1{
  font-family: "Luckiest Guy", cursive;
  text-shadow: 3px 5px 1px rgba(67, 101, 255, 0.336);
}

#line-one{
  border: 2px solid white;
  width: 200px;
  position: absolute;
  top: 108px;
  transform: rotate(90deg);
  left: 190px;
}

#line-two{
  border: 2px solid white;
  width: 200px;
  position: absolute;
  top: 108px;
  transform: rotate(90deg);
  right: 485px;
}

#line-three{
  border: 2px solid white;
  width: 200px;
  position: absolute;
  top: 108px;
  transform: rotate(90deg);
  right: 115px;
}

#wallet{
  background-image: linear-gradient(to right,rgb(35, 40, 53),rgb(35, 40, 53),rgb(35, 40, 53), rgba(255, 255, 255, 0)),linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), url(images/cryp\ 7.png);
  background-position: top 50% right -50%;
  background-repeat: no-repeat;
}

#wallet h1, #vault h1, #crypto h1, .how-it-works h1{
  font-family: "Bebas Neue", sans-serif
}

#wallet .btn-learn{
  border: 1px solid white;
  border-radius: 50px;
}

#wallet .bg-wallet{
  background-image: radial-gradient(circle at bottom right, white,white,rgb(138, 59, 212),rgb(162, 62, 230) 20%,rgb(217, 171, 255),rgb(25, 23, 32), rgb(25, 23, 32), rgb(25, 23, 32), rgb(148, 139, 180));
}

#vault{
  background-image: linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)),linear-gradient(to right, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), url(images/cryp\ 4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#vault #vault-img-1{
  background-color: rgba(84, 25, 139, 0.452);
  backdrop-filter: blur(15px);
  border-right: 2px solid rgb(207, 155, 255);
  border-bottom: 2px solid rgb(207, 155, 255);
  border-radius: 50px;
  padding: 10px;
}

#vault #vault-img-2{
  background-color: rgba(84, 25, 139, 0.452);
  backdrop-filter: blur(8px);
  border-top: 2px solid rgb(207, 155, 255);
  border-left: 2px solid rgb(207, 155, 255);
  border-radius: 50px;
  padding: 10px;
}

#crypto .arrow-icon{
  font-size: 35px;
}

#crypto .trading-coins{
  background-color: rgb(58, 65, 87);
}

.how-it-works{
  background-image: linear-gradient(to right, rgb(35, 40, 53),rgb(35, 40, 53), transparent),linear-gradient(to top, rgb(35, 40, 53), transparent, rgb(35, 40, 53)), url(images/cryp\ 7.png);
  background-position: top 50% right -30%;
  background-repeat: no-repeat;
}

.how-it-works .HIW-img{
  background-color: rgba(108, 85, 156, 0.459);
  backdrop-filter: blur(7px);
  border-radius: 50px;
  border-right: rgb(207, 184, 255) solid 1px;
}